<div class='col-sm-2 col-md-4 products'>
	<%= image_tag(product.image_url, class: "img-responsive") if product&.image_url %>
  <span class="productName"><%= product.name %></span><br/>
  <span class="colour"><%= product.colour %></span><br/>
  <span class="productPrice"><%= product.price %>$</span><br/>
  <span class="Show"><%= link_to 'Show', product %></span>
  <% if current_user && current_user.admin? %>
	  <span class="Edit"><%= link_to 'Edit', edit_product_path(product) %></span>
	  <span class="Delete"><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %></p>
  </span>
</div>