<p id="notice"><%= notice %></p>

<br/>
<div class="container anchor" id="productList">
      <div class="row">
        <div class="headerTitle">
          <div class="header">
            <h1>List of products</h1>
          </div><br/>
        </div>
        <span>
          <% @products.each do |product| %>
            <div class='col-sm-2 col-md-4 products'>
              <span class="productName"><%= product.name %></span><br/>
              <span class="productDesc"><%= product.description %></span><br/>
              <span class="colour"><%= product.colour %></span><br/>
              <span class="productPrice"><%= product.price %>$</span><br/>
              <%= image_tag(product.image_url, class: "img-responsive") %>
              <span class="Show"><%= link_to 'Show', product %></span>
              <span class="Edit"><%= link_to 'Edit', edit_product_path(product) %></span>
              <span class="Delete"><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></span>
            </div>
          <% end %>
        </span>
      </div>
    </div>


<br>

<%= link_to 'New Product', new_product_path %>