<% cache @product do %>
  <div id="productAll">
    <%= image_tag(@product.image_url, class: "img-responsive productImage") %>

    <div id="productInfo">
      <p>
        <h1><%= @product.name %></h1>
      </p>

      <p>
        <i><%= @product.description %></i>
      </p>

      <p>Average Rating: 
        <div id="average-rating" class="rated" data-score="<%= @product.average_rating %>"></div> 
      </p>

      <p>
        <strong>$<%= @product.price %></strong>
      </p>

      <p>
        <strong>Colour:</strong>
        <%= @product.colour %>
      </p>  

      <%= form_with(url: '/payments/create') do |form| %>
        <%= render partial: "shared/stripe_checkout_button" %>
        <%= hidden_field_tag(:product_id, @product.id) %>
      <% end %>  
      
      <% if current_user && current_user.admin? %>
        <%= link_to 'Edit', edit_product_path(@product),class: 'btn btn-default' %> 
      <% end %>
      <%= link_to 'Back', products_path, class: 'btn btn-default' %> 
    </div>
  </div>
<% end %>
<div class="comments">
<%= render 'new_comment' %>
<div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
<h1>Reviews</h1>
<%= render 'comments' %>
</div>

<br><br>